<nav class="navbar2 navbar-inverse " role="navigation">
    <div class="container">
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/logo_wht.png" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
         <!--        <li>
                    <a href="#"><button type="button" class="btn-menu">Rate</button></a>
                </li> -->
                                <li>
                    <a href="/enter_beer"><button type="button" class="btn-menu">Enter Beer</button></a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
