h3{
	text-transform: uppercase;		
	font-family: "Noto",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 10px 0px 15px 0px;
  padding: 0px;
}
h4{
	color: #777777;
	font-family: "Noto",Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 10px 0px 25px 0px;
  padding: 0px;
}
h4.form{
  color: #777777;
  font-family: "Noto",Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 10px 0px 25px 0px;
  padding: 0px;
}
p.brewery{
	color: #777777;
	font-family: "Noto",Helvetica,Arial,sans-serif;
/*	text-align: center;
*/}
p.rating{
  color: #FFCC00;
  font-family: "Noto",Helvetica,Arial,sans-serif;
  font-size: 2em;
  letter-spacing: 4px;
}

/*  NAV BAR STYLING
*/ 

.navbar2 {
    position: relative;
    min-height: 170px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
.navbar-brand {
  float: left;
  padding: 20px 20px;
  font-size: 18px;
  line-height: 20px;
  box-shadow: 0px 20px 50px #222;
}
.navbar-nav li a {
  padding-top: 75px;
  line-height: 20px;
}

.btn-menu {
  color: #fff;
  background-color: #222;
  border-color: #cccccc;
  display:inline-block;
  padding: 12px 10px;
  margin-bottom: 50px;
  font-family: "Noto",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size:14px;
  line-height:1.42857143;
  text-align:center;
  text-transform: uppercase;
  white-space:nowrap;
  vertical-align:middle;
  -ms-touch-action:manipulation;touch-action:manipulation;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-image:none;
  border:1px solid transparent;
  border-radius:4px
}
.btn-menu:focus,
.btn-menu.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-menu:hover {
  border-color: #fff;
}
.btn-menu:active,
.btn-menu.active,
.open > .dropdown-toggle.btn-menu {
  border-color: #fff;
}

.ghost-button-semi-transparent {
  display: inline-block;
  width: 400px;
  height:150px;
  padding: 30px 60px 30px 60px;
  color: #fff;
  border: 2px solid #fff;
  margin: 10px;
  font-family: "Noto",Helvetica,Arial,sans-serif;
  font-weight: 650px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: #fff; /* fallback */
  background-color: rgba(0, 0, 0, 0.2);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}
.centerButtons {
    margin: 0 auto;
    float: left;
} 
.jumbotron {
    position: relative;
    background: #000 url("/images/barrel.jpg") center center;
    padding: 180px 0 180px 0;
    width: 100%;
    height:auto;
    background-size: cover;
    overflow: hidden;
}
/*Buttons for beer categories*/

.beer-cat {
  min-width: 10px;
  margin: 5px 5px 5px 5px;
  list-style: none;
  text-align: center;
  font-family: "Noto",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  color:#fff;
  display: inline-block;
  padding: 10px 28px;
  background-color: #222;
  border: 1px solid #dddddd;
  border-radius: 28px;
}
.tasting-notes {
  min-width: 5px;
  margin: 3px 3px 3px 3px;
  list-style: none;
  text-align: center;
  font-family: "Noto",Helvetica,Arial,sans-serif;
  font-size: 10px;
  color:#000;
  display: inline-block;
  padding: 5px 14px;
  background-color: #E0E0E0;
  border: 1px solid #dddddd;
  border-radius: 15px;
}
.beer-cat:hover {
  color: #222;  
  background-color: #999;
}

.container-full {
  margin: 0 auto;
  margin-bottom: 17px;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}
#Update {
  float: right;
}
.beer-display{
	padding:15px;
  text-align: center;
  max-height: 750px;
  margin: 5px;
}
.short-rule{
	width: 25%;
  box-shadow: 2px 2px 1px #888888;
}
.well-beer {
  min-height: 20px;
  padding: 0 0 19px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.glyphicon:before {
     visibility: visible;
      font-size: 40px;
      margin: 5px;
      color: #E0E0E0;
}
.glyphicon.glyphicon-star-empty:checked:before {
    font-size: 40px;
    margin: 6px;
    width: 30px;
    height: 30px;
    color: #FFCC00;

}
input[type=checkbox].glyphicon{
     visibility: hidden;  
     vertical-align: center;
     width: 40px;
     height: 40px;      
}

.star {
    content: "&#xf251;"; 
    font-family: "FontAwesome";
    font-size: 4em;
    color: #FFCC00;
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
}
