<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <div class="jumbotron">
        <div align="center">
            <a href="#beers"><button class="ghost-button-semi-transparent"> Drink Beer </button></a>
            <button class="ghost-button-semi-transparent" data-toggle="modal" data-target="#myModal"> Log In </button>
 
     </div>
    </div>

</div>
</div>

<div class="container spacer">
    <main>
        <div class="row" id="beers">

            <div id="beerPosts"></div>
            
            
        </div>

    </main>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>