<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <% if (!user) { %>        
        <div class="jumbotronHomePage">
            <div align="center">

                <a href="/tap_rooms"><button class="ghost-button-semi-transparent"> Find My Tap Room </button></a>
                <button class="ghost-button-semi-transparent" data-toggle="modal" data-target="#loginModal"> Log In </button>
                <% } else { %>

                    <% } %>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="container spacer">
            <main>

                <% if (!user) { %>
                    <div class="row" id="beers">
                        <div id="beerPostsLoggedOut"></div>
                    </div>


                    <% } else { %>
                        <div class="row" id="beers">
                            <div id="beerPosts"></div>

                            
                        </div>
                        <% } %> 

                    </main>
                </div> 

                <footer>
                    <% include ../partials/footer %>
                </footer>

            </body>
            </html>