<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
<div class="container spacer">
    <main>
   <!--      <span class="beer-badge">All</span>
        <span class="beer-badge">Ambers/Pales</span>
        <span class="beer-badge">Belgians/Sours</span>
        <span class="beer-badge">Cider</span>
        <span class="beer-badge">Fresh Hop</span>
        <span class="beer-badge">IPA</span> 
        <span class="beer-badge">Lagers/Pilsners/Wheat</span>
        <span class="beer-badge">Porters/Stouts</span>
        <span class="beer-badge">Wine</span>
 --><div class="row">
            <div id="beerPosts"></div>
            
            
            </div>

    </main>
</div>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>