<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
        <div class="container spacer">
            <main>
<script type="text/javascript">
   $(document).on('click', '.nav-list li', function() {
       $(".nav-list li").removeClass("active");
       $(this).addClass("active");
   });
</script>
                <% if (!user) { %>
                    <div class="row" id="beers">
                        <div id="beerPostsLoggedOut"></div>
                    </div>


                    <% } else { %>
                        <div class="row" id="beers">
                            <div id="beerPosts"></div>

                            
                        </div>
                        <% } %> 

                    </main>
                </div> 

                <footer>
                    <% include ../partials/footer %>
                </footer>

            </body>
            </html>