<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/header %>
  </header>
<div class="container">
  <div class="row" id="beers">
  <div class="col-sm-6 col-md-4">
  <div class="beer-display">
  <div class="row">
  <div class="well-beer">
  <img src="http://l.rgbimg.com/cache1nDHNf/users/m/mz/mzacha/600/mhiqlwS.jpg" class="img-responsive location"/>
    <div class="caption">
           <h3>Cold Smoke</h3><br/>
           <h4>
           Missoula, MT
           </h4>
           <hr class="short-rule"/>                        
           <p class="brewery">
             KettleHouse
           </p>
           <p class="rating">
<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
<i class="fa fa-star"></i> 
<i class="fa fa-star"></i> 

           </p> 


           <button type="button" class="btn btn-s btn-default"><i class="fa fa-beer"></i>&nbsp;Rate</button> 
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="col-sm-6 col-md-4">
  <div class="beer-display">
  <div class="row">
  <div class="well-beer">
  <img src="http://cdn.canalparkbrewery.com/wp-content/uploads/2012/07/ipa_glass.png" class="img-responsive location"/>
    <div class="caption">
           <h3>Eddy Out</h3><br/>
           <h4>
           Missoula, MT
           </h4>
           <hr class="short-rule"/>                        
           <p class="brewery">
             KettleHouse
           </p>
           <p class="rating">
<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
<i class="fa fa-star"></i> 
<i class="fa fa-star"></i> 

           </p> 


           <button type="button" class="btn btn-s btn-default"><i class="fa fa-beer"></i>&nbsp;Rate</button> 
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="col-sm-6 col-md-4">
  <div class="beer-display">
  <div class="row">
  <div class="well-beer">
  <img src="http://cdn.pastemagazine.com/www/blogs/lists/pint%20glass.jpg" class="img-responsive location"/>
    <div class="caption">
           <h3>Double Haul</h3><br/>
           <h4>
           Missoula, MT
           </h4>
           <hr class="short-rule"/>                        
           <p class="brewery">
             KettleHouse
           </p>
           <p class="rating">
<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
<i class="fa fa-star"></i> 
<i class="fa fa-star"></i> 

           </p> 


           <button type="button" class="btn btn-s btn-default"><i class="fa fa-beer"></i>&nbsp;Rate</button> 
         </div>
       </div>
     </div>
   </div>
 </div>
 </div>
 </div>

 <footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>