<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>
<div class="container">
<%= rating %>
</div>
<div class="container">
<div class="row">
	<footer>
		<% include ../partials/footer %>
	</footer>
</div>
</div>
</body>
</html>