<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>
	<div class="container">  
  <div class="col-sm-6 col-md-4">
      <div class="beer-display">
        <div class="row">
          <div class="well-beer">
            <img src="http://www.dramshopmt.com/wp-content/uploads/2015/09/Draught-Works-Lauren-Bacall-Key-Lime-Sour-600x800.jpeg" class="img-responsive"/>

          </div>
        </div>
      </div>
    </div>            

               <div className="col-sm-6 col-md-6">
                <div className="row">
                <h1>Beer Name you are Rating</h1>
                <hr>
   <form action="" method="POST" role="form">
   
   	<div class="form-group">
   		<h3>Tasting Notes</h3>
      <button class="tasting-notes">Coffeeish</button>
      <button class="tasting-notes">Caramelly</button>
      <button class="tasting-notes">Fresh</button>
      <button class="tasting-notes">Herbal</button>
      <button class="tasting-notes">Earthy</button>

		<h3>Over All Rating</label></h3>

		<input id="checkbox1" class="glyphicon glyphicon-star-empty" type="checkbox" />
		<input id="checkbox1" class="glyphicon glyphicon-star-empty" type="checkbox" />
		<input id="checkbox1" class="glyphicon glyphicon-star-empty" type="checkbox" />
		<input id="checkbox1" class="glyphicon glyphicon-star-empty" type="checkbox" />
		<input id="checkbox1" class="glyphicon glyphicon-star-empty" type="checkbox" />


</div>
   	<button type="submit" class="btn btn-primary">Submit</button>
   </form>
               </div>
               </div>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>