<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>
	<div class="container">
	<div class="col-sm-6 col-md-3">
		<div class="location-display">
			<div class="row">
				<div class="well-beer">
					<img src="http://www.montananaturalist.org/wp-content/uploads/Dram-Shop-logo.jpg" class="img-responsive location"/>
					<div class="caption">
						<h2 class="location">Dram Shop</h2><br/>
						<p class="brewery">
							229 E Front St<br>Missoula, MT 59802                   
						</p>
						<hr class="short-rule"/>                        
							<a href="/dram_shop"><button type="button" class="btn btn-s btn-warning" ><i class="fa fa-beer"></i>&nbsp;Drink Beer Here</button></a> 

					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="col-sm-6 col-md-3">
		<div class="location-display">
			<div class="row">
				<div class="well-beer">
					<img src="https://s-media-cache-ak0.pinimg.com/736x/bd/44/ee/bd44eef070816c1b9117a9f870ad668e.jpg" class="img-responsive location"/>
					<div class="caption">
						<h2 class="location">KettleHouse North</h2><br/>
						<p class="brewery">
							313 N. 1st St. W<br>Missoula, MT 59802                   
						</p>
						<hr class="short-rule"/>                        
							<button type="button" class="btn btn-s btn-warning"><i class="fa fa-beer"></i>&nbsp;Drink Beer Here</button> 

					</div>
				</div>
			</div>
		</div>
	</div>	<div class="col-sm-6 col-md-3">
		<div class="location-display">
			<div class="row">
				<div class="well-beer">
					<img src="https://s-media-cache-ak0.pinimg.com/736x/bd/44/ee/bd44eef070816c1b9117a9f870ad668e.jpg" class="img-responsive location"/>
					<div class="caption">
						<h2 class="location">KettleHouse South</h2><br/>
						<p class="brewery">
							602 Myrtle St.<br>Missoula, MT 59801                   
						</p>
						<hr class="short-rule"/>                        
							<button type="button" class="btn btn-s btn-warning"><i class="fa fa-beer"></i>&nbsp;Drink Beer Here</button> 

					</div>
				</div>
			</div>
		</div>
	</div>	<div class="col-sm-6 col-md-3">
		<div class="location-display">
			<div class="row">
				<div class="well-beer">
					<img src="http://draughtworksbrewery.com/wp-content/uploads/2014/01/DraughtWorksLogo1.png" class="img-responsive location"/>
					<div class="caption">
						<h2 class="location">Draught Works</h2><br/>
						<p class="brewery">
							915 Toole Ave<br>Missoula, MT 59802                  
						</p>
						<hr class="short-rule"/>                        
							<button type="button" class="btn btn-s btn-warning"><i class="fa fa-beer"></i>&nbsp;Drink Beer Here</button> 

					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="container">
<div class="row">
	<footer>
		<% include ../partials/footer %>
	</footer>
</div>
</div>
</body>
</html>