<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
<nav class="navbar2 navbar-inverse " role="navigation">
    <div class="container">
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/logo_wht.png" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

        </ul></div></div></nav>

    </header>
    <div class="jumbotronHomePage">
        <div align="center">
            <a href="/verified"><button class="ghost-button-semi-transparent"> I verify I am 21 </button></a>
            <a href="http://www.rootbeer.com/"><button class="ghost-button-semi-transparent"> I am not 21 </button></a>


        </div>
    </div>

</div>
</div>

    </main>
</div>

<footer>
<div class="beer-display">You must be 21 to veiw this site by clicking above you are stating this to be true.
    <% include ../partials/footer %></div>
</footer>

</body>
</html>