<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <div class="jumbotronHomePage">
        <div align="center">
            <a href="/verified"><button class="ghost-button-semi-transparent"> I verify I am 21 </button></a>
            <a href="http://www.rootbeer.com/"><button class="ghost-button-semi-transparent"> I am not 21 </button></a>


        </div>
    </div>

</div>
</div>

    </main>
</div>

<footer>
<div class="beer-display">You must be 21 to veiw this site by clicking above you are stating this to be true.
    <% include ../partials/footer %></div>
</footer>

</body>
</html>