<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
<nav class="navbar2 navbar-inverse " role="navigation">
    <div class="container">
        <div class="navbar-inner">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/logo_wht.png" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

        </ul></div></div></nav>

    </header>
            <div class="jumbotronHomePage">
        <div align="center">
<% if (!user) { %>
        <a href="/tap_rooms"><button class="ghost-button-semi-transparent"> Find My Tap Room </button></a>
        <button class="ghost-button-semi-transparent" data-toggle="modal" data-target="#loginModal"> Log In </button>
        <% } else { %> 

        <a href="/tap_rooms"><button class="ghost-button-semi-transparent"> Find My Tap Room </button></a>


            <% } %>

        </div>
    </div>

</div>
</div>

    </main>
</div>

<footer>

    <% include ../partials/footer %>
</footer>

</body>
</html>